h1 {
  background-color: hsla(15, 72%, 70%, 0.6);
  color: rgb(35, 54, 224);
  text-align: center;
  font-size: 200%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  background-color: dimgray;
}
a {
  padding: 2px 2px;
  border: rgb(102, 187, 221) indent;
  background-color: rgb(97, 189, 226);
  color: black;
  margin-right: 20px;
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
a:hover {
  background-color: bisque;
  color: blue;
  text-decoration: none;
}
nav {
  background-color: aqua;
}
